-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "crm";

-- CreateEnum
CREATE TYPE "CrmUserRole" AS ENUM ('SUPER_ADMIN', 'AGENCY_ADMIN', 'BRANCH_MANAGER', 'BRANCH_STAFF');

-- CreateEnum
CREATE TYPE "TrialDay" AS ENUM ('WED', 'THU', 'FRI', 'SAT', 'SUN');

-- CreateEnum
CREATE TYPE "MessageChannel" AS ENUM ('EMAIL', 'WHATSAPP', 'SMS');

-- CreateEnum
CREATE TYPE "MessageDirection" AS ENUM ('IN', 'OUT');

-- CreateEnum
CREATE TYPE "CustomValueScope" AS ENUM ('TENANT', 'BRANCH');

-- CreateEnum
CREATE TYPE "AutomationTriggerType" AS ENUM ('NEW_LEAD', 'STAGE_CHANGED', 'TAG_ADDED', 'TAG_REMOVED', 'TIME_IN_STAGE', 'SCHEDULED', 'FORM_SUBMITTED', 'INCOMING_MESSAGE', 'CUSTOM_FIELD_CHANGED', 'APPOINTMENT_BOOKED', 'CONTACT_REPLIED', 'NO_REPLY_AFTER');

-- CreateEnum
CREATE TYPE "AutomationRunStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "IntegrationType" AS ENUM ('META', 'TIKTOK', 'WIX', 'GOOGLE_FORMS', 'GOOGLE_CALENDAR', 'OUTLOOK', 'WEBSITE_FORM');

-- CreateEnum
CREATE TYPE "IntegrationStatus" AS ENUM ('CONNECTED', 'DISCONNECTED', 'ERROR');

-- CreateEnum
CREATE TYPE "WhatsAppProvider" AS ENUM ('META_CLOUD', 'TWILIO');

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'BRANCH_MANAGER',
    "branchName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ManpowerSchedule" (
    "id" TEXT NOT NULL,
    "branch" TEXT NOT NULL,
    "startDate" TEXT NOT NULL,
    "endDate" TEXT NOT NULL,
    "selections" JSONB NOT NULL,
    "notes" JSONB NOT NULL,
    "originalSelections" JSONB NOT NULL,
    "originalNotes" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Finalized',
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "originalAuthor" TEXT NOT NULL,

    CONSTRAINT "ManpowerSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employee" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "nickname" TEXT,
    "branch" TEXT NOT NULL,
    "position" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "CoachRate" DECIMAL,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BranchStaff" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "branch" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "role" TEXT,
    "nickname" TEXT,
    "nric" TEXT,
    "dob" TEXT,
    "age" TEXT,
    "gender" TEXT,
    "nationality" TEXT,
    "home_address" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "residential" TEXT,
    "emergency_name" TEXT,
    "emergency_phone" TEXT,
    "emergency_relation" TEXT,
    "signed_date" TEXT,
    "start_date" TEXT,
    "employment_type" TEXT,
    "status" TEXT,
    "bank" TEXT,
    "bank_name" TEXT,
    "bank_account" TEXT,
    "university" TEXT,
    "department" TEXT,
    "position" TEXT,
    "location" TEXT,
    "accessStatus" TEXT DEFAULT 'AUTHORIZED',
    "biometricTemplate" TEXT,
    "contract" TEXT,
    "employeeId" TEXT,
    "endDate" TEXT,
    "probation" TEXT,
    "rate" TEXT,
    "updatedAt" TIMESTAMP(3),

    CONSTRAINT "BranchStaff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceLog" (
    "id" SERIAL NOT NULL,
    "date" TEXT NOT NULL,
    "empNo" TEXT NOT NULL,
    "empName" TEXT NOT NULL,
    "clockInTime" TEXT NOT NULL,
    "clockInSerialNo" TEXT NOT NULL,
    "clockInEmailSent" BOOLEAN NOT NULL DEFAULT false,
    "clockOutTime" TEXT,
    "clockOutSerialNo" TEXT,
    "clockOutEmailSent" BOOLEAN NOT NULL DEFAULT false,
    "scannerLocation" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AttendanceLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeaveTransaction" (
    "id" SERIAL NOT NULL,
    "EmployeeCode" TEXT,
    "LeaveTypeCode" TEXT,
    "LeaveTransId" TEXT,
    "ApplyDate" TIMESTAMP(6),
    "ApplyReason" TEXT,
    "ApplyStatus" TEXT,
    "Attachment" TEXT,
    "DayNo" DECIMAL(65,30),
    "HourNo" DECIMAL(65,30),
    "Days" TEXT,
    "Source" TEXT,
    "LeaveAdjustmentId" TEXT,
    "LeaveDate" DATE,
    "FromTime" TIME(6),
    "ToTime" TIME(6),
    "IsHourly" BOOLEAN,
    "IsAdjustment" BOOLEAN,
    "LeaveCreditId" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "ActionRemark" TEXT,
    "RequiredThirdParty" BOOLEAN,
    "WorkingHours" INTEGER,

    CONSTRAINT "LeaveTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicalLeave" (
    "id" SERIAL NOT NULL,
    "employeeCode" TEXT NOT NULL,
    "name" TEXT,
    "position" TEXT,
    "dept" TEXT,
    "branch" TEXT,
    "leaveDate" DATE NOT NULL,
    "reason" TEXT,
    "status" TEXT,
    "days" TEXT,
    "leaveTransId" TEXT,
    "attachment" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MedicalLeave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceLogST" (
    "id" SERIAL NOT NULL,
    "date" TEXT NOT NULL,
    "empNo" TEXT NOT NULL,
    "empName" TEXT NOT NULL,
    "clockInTime" TEXT NOT NULL,
    "clockInSerialNo" TEXT NOT NULL,
    "clockInEmailSent" BOOLEAN NOT NULL DEFAULT false,
    "clockOutTime" TEXT,
    "clockOutSerialNo" TEXT,
    "clockOutEmailSent" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ NOT NULL,

    CONSTRAINT "AttendanceLogST_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core_audit_log" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT,
    "userId" TEXT,
    "userEmail" TEXT,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entityId" TEXT,
    "meta" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "core_audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_auth_user" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "name" TEXT,
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_auth_user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_auth_session" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_auth_session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_auth_account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_auth_account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_auth_verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_auth_verification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_tenant" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_branch" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "operatingHours" JSONB,
    "timezone" TEXT NOT NULL DEFAULT 'Asia/Kuala_Lumpur',
    "branchManagerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_branch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_user_branch" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "role" "CrmUserRole" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_user_branch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_pipeline" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_pipeline_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_stage" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "pipelineId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "shortCode" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "color" TEXT NOT NULL DEFAULT 'blue',
    "stuckHoursYellow" INTEGER NOT NULL DEFAULT 24,
    "stuckHoursRed" INTEGER NOT NULL DEFAULT 48,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_stage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_contact" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "leadSourceId" TEXT,
    "assignedUserId" TEXT,
    "preferredBranchId" TEXT,
    "preferredTrialDay" "TrialDay",
    "enrolledPackage" TEXT,
    "childName1" TEXT,
    "childAge1" TEXT,
    "childName2" TEXT,
    "childAge2" TEXT,
    "childName3" TEXT,
    "childAge3" TEXT,
    "childName4" TEXT,
    "childAge4" TEXT,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_contact_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_opportunity" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "pipelineId" TEXT NOT NULL,
    "stageId" TEXT NOT NULL,
    "value" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "assignedUserId" TEXT,
    "lastStageChangeAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_opportunity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_stage_history" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "fromStageId" TEXT,
    "toStageId" TEXT NOT NULL,
    "changedByUserId" TEXT,
    "note" TEXT,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "crm_stage_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_lead_source" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_lead_source_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_tag" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT,
    "name" TEXT NOT NULL,
    "color" TEXT NOT NULL DEFAULT '#3b82f6',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_contact_tag" (
    "id" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "tagId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "crm_contact_tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_note" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "userId" TEXT,
    "body" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_task" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "contactId" TEXT,
    "assignedUserId" TEXT,
    "title" TEXT NOT NULL,
    "dueAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_message" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "userId" TEXT,
    "channel" "MessageChannel" NOT NULL,
    "direction" "MessageDirection" NOT NULL,
    "body" TEXT NOT NULL,
    "subject" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "providerMessageId" TEXT,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_call" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "userId" TEXT,
    "outcome" TEXT,
    "notes" TEXT,
    "duration" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "crm_call_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_message_template" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT,
    "name" TEXT NOT NULL,
    "channel" "MessageChannel" NOT NULL,
    "subject" TEXT,
    "body" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_message_template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_custom_value" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "scope" "CustomValueScope" NOT NULL DEFAULT 'TENANT',
    "scopeId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_custom_value_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_automation" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT,
    "name" TEXT NOT NULL,
    "triggerType" "AutomationTriggerType" NOT NULL,
    "triggerConfig" JSONB NOT NULL DEFAULT '{}',
    "graph" JSONB NOT NULL DEFAULT '{}',
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_automation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_automation_run" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "automationId" TEXT NOT NULL,
    "contactId" TEXT,
    "triggeredByUserId" TEXT,
    "status" "AutomationRunStatus" NOT NULL DEFAULT 'PENDING',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "logs" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "crm_automation_run_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_integration" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "type" "IntegrationType" NOT NULL,
    "credentials" TEXT,
    "status" "IntegrationStatus" NOT NULL DEFAULT 'DISCONNECTED',
    "lastSyncAt" TIMESTAMP(3),
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_integration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_integration_oauth_token" (
    "id" TEXT NOT NULL,
    "integrationId" TEXT NOT NULL,
    "accessToken" TEXT NOT NULL,
    "refreshToken" TEXT,
    "expiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_integration_oauth_token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_website_form" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "schema" JSONB NOT NULL DEFAULT '[]',
    "publicSlug" TEXT NOT NULL,
    "submissionsCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_website_form_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_appointment" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "userId" TEXT,
    "startAt" TIMESTAMP(3) NOT NULL,
    "endAt" TIMESTAMP(3) NOT NULL,
    "title" TEXT,
    "notes" TEXT,
    "calendarProvider" TEXT,
    "externalId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_appointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_notification" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "link" TEXT,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "crm_notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_email_settings" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "fromEmail" TEXT NOT NULL,
    "fromName" TEXT NOT NULL,
    "resendDomainVerified" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_email_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_whatsapp_settings" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "provider" "WhatsAppProvider" NOT NULL,
    "credentials" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_whatsapp_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_api_key" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "hashedKey" TEXT NOT NULL,
    "scopes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "lastUsedAt" TIMESTAMP(3),
    "createdByUserId" TEXT,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "crm_api_key_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crm_push_subscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "endpoint" TEXT NOT NULL,
    "p256dh" TEXT NOT NULL,
    "auth" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "crm_push_subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_platform" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "accent_color" TEXT NOT NULL DEFAULT '#6b7280',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tkt_platform_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_branch" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "branch_number" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tkt_branch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_user_profile" (
    "user_id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "email_notifications" BOOLEAN NOT NULL DEFAULT true,
    "dark_theme" BOOLEAN NOT NULL DEFAULT true,
    "activity_updates" BOOLEAN NOT NULL DEFAULT true,
    "system_alerts" BOOLEAN NOT NULL DEFAULT false,
    "audit_logs" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tkt_user_profile_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "tkt_user_platform" (
    "user_id" TEXT NOT NULL,
    "platform_id" TEXT NOT NULL,

    CONSTRAINT "tkt_user_platform_pkey" PRIMARY KEY ("user_id","platform_id")
);

-- CreateTable
CREATE TABLE "tkt_user_branch" (
    "user_id" TEXT NOT NULL,
    "branch_id" TEXT NOT NULL,

    CONSTRAINT "tkt_user_branch_pkey" PRIMARY KEY ("user_id","branch_id")
);

-- CreateTable
CREATE TABLE "tkt_ticket" (
    "id" TEXT NOT NULL,
    "ticket_number" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "branch_id" TEXT NOT NULL,
    "platform_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "issue_context" TEXT NOT NULL,
    "sub_type" TEXT NOT NULL,
    "fields" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'received',
    "admin_remark" TEXT,
    "rejection_reason" TEXT,
    "assigned_admin_id" TEXT,
    "completed_at" TIMESTAMP(3),
    "visible_until" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tkt_ticket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_ticket_attachment" (
    "id" TEXT NOT NULL,
    "ticket_id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "mime_type" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tkt_ticket_attachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_ticket_event" (
    "id" TEXT NOT NULL,
    "ticket_id" TEXT NOT NULL,
    "event_type" TEXT NOT NULL,
    "description" TEXT,
    "meta" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tkt_ticket_event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tkt_counter" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "platform_id" TEXT NOT NULL,
    "branch_id" TEXT,
    "counter_type" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER,
    "day" INTEGER,
    "current_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tkt_counter_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_name_branch_key" ON "Employee"("name", "branch");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceLog_date_empNo_key" ON "AttendanceLog"("date", "empNo");

-- CreateIndex
CREATE UNIQUE INDEX "unique_leave_trans" ON "LeaveTransaction"("LeaveTransId", "LeaveDate");

-- CreateIndex
CREATE UNIQUE INDEX "MedicalLeave_leaveTransId_key" ON "MedicalLeave"("leaveTransId");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceLogST_date_empNo_key" ON "AttendanceLogST"("date", "empNo");

-- CreateIndex
CREATE INDEX "core_audit_log_tenantId_entity_createdAt_idx" ON "core_audit_log"("tenantId", "entity", "createdAt");

-- CreateIndex
CREATE INDEX "core_audit_log_userId_createdAt_idx" ON "core_audit_log"("userId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "crm_auth_user_email_key" ON "crm_auth_user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "crm_auth_session_token_key" ON "crm_auth_session"("token");

-- CreateIndex
CREATE UNIQUE INDEX "crm_tenant_slug_key" ON "crm_tenant"("slug");

-- CreateIndex
CREATE INDEX "crm_branch_tenantId_idx" ON "crm_branch"("tenantId");

-- CreateIndex
CREATE INDEX "crm_user_branch_tenantId_idx" ON "crm_user_branch"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_user_branch_userId_branchId_key" ON "crm_user_branch"("userId", "branchId");

-- CreateIndex
CREATE INDEX "crm_pipeline_tenantId_branchId_idx" ON "crm_pipeline"("tenantId", "branchId");

-- CreateIndex
CREATE INDEX "crm_stage_tenantId_pipelineId_order_idx" ON "crm_stage"("tenantId", "pipelineId", "order");

-- CreateIndex
CREATE INDEX "crm_contact_tenantId_branchId_idx" ON "crm_contact"("tenantId", "branchId");

-- CreateIndex
CREATE INDEX "crm_contact_tenantId_email_idx" ON "crm_contact"("tenantId", "email");

-- CreateIndex
CREATE INDEX "crm_contact_tenantId_phone_idx" ON "crm_contact"("tenantId", "phone");

-- CreateIndex
CREATE INDEX "crm_opportunity_tenantId_branchId_stageId_idx" ON "crm_opportunity"("tenantId", "branchId", "stageId");

-- CreateIndex
CREATE INDEX "crm_opportunity_tenantId_pipelineId_idx" ON "crm_opportunity"("tenantId", "pipelineId");

-- CreateIndex
CREATE INDEX "crm_stage_history_tenantId_opportunityId_idx" ON "crm_stage_history"("tenantId", "opportunityId");

-- CreateIndex
CREATE INDEX "crm_lead_source_tenantId_idx" ON "crm_lead_source"("tenantId");

-- CreateIndex
CREATE INDEX "crm_tag_tenantId_idx" ON "crm_tag"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_contact_tag_contactId_tagId_key" ON "crm_contact_tag"("contactId", "tagId");

-- CreateIndex
CREATE INDEX "crm_note_tenantId_contactId_idx" ON "crm_note"("tenantId", "contactId");

-- CreateIndex
CREATE INDEX "crm_task_tenantId_branchId_idx" ON "crm_task"("tenantId", "branchId");

-- CreateIndex
CREATE INDEX "crm_task_tenantId_assignedUserId_dueAt_idx" ON "crm_task"("tenantId", "assignedUserId", "dueAt");

-- CreateIndex
CREATE INDEX "crm_message_tenantId_branchId_contactId_idx" ON "crm_message"("tenantId", "branchId", "contactId");

-- CreateIndex
CREATE INDEX "crm_call_tenantId_contactId_idx" ON "crm_call"("tenantId", "contactId");

-- CreateIndex
CREATE INDEX "crm_message_template_tenantId_idx" ON "crm_message_template"("tenantId");

-- CreateIndex
CREATE INDEX "crm_custom_value_tenantId_idx" ON "crm_custom_value"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_custom_value_tenantId_scope_scopeId_key_key" ON "crm_custom_value"("tenantId", "scope", "scopeId", "key");

-- CreateIndex
CREATE INDEX "crm_automation_tenantId_idx" ON "crm_automation"("tenantId");

-- CreateIndex
CREATE INDEX "crm_automation_run_tenantId_automationId_idx" ON "crm_automation_run"("tenantId", "automationId");

-- CreateIndex
CREATE INDEX "crm_integration_tenantId_idx" ON "crm_integration"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_integration_branchId_type_key" ON "crm_integration"("branchId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "crm_website_form_publicSlug_key" ON "crm_website_form"("publicSlug");

-- CreateIndex
CREATE INDEX "crm_website_form_tenantId_idx" ON "crm_website_form"("tenantId");

-- CreateIndex
CREATE INDEX "crm_appointment_tenantId_branchId_idx" ON "crm_appointment"("tenantId", "branchId");

-- CreateIndex
CREATE INDEX "crm_notification_tenantId_userId_readAt_idx" ON "crm_notification"("tenantId", "userId", "readAt");

-- CreateIndex
CREATE UNIQUE INDEX "crm_email_settings_branchId_key" ON "crm_email_settings"("branchId");

-- CreateIndex
CREATE INDEX "crm_email_settings_tenantId_idx" ON "crm_email_settings"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_whatsapp_settings_branchId_key" ON "crm_whatsapp_settings"("branchId");

-- CreateIndex
CREATE INDEX "crm_whatsapp_settings_tenantId_idx" ON "crm_whatsapp_settings"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_api_key_hashedKey_key" ON "crm_api_key"("hashedKey");

-- CreateIndex
CREATE INDEX "crm_api_key_tenantId_idx" ON "crm_api_key"("tenantId");

-- CreateIndex
CREATE INDEX "crm_push_subscription_tenantId_userId_idx" ON "crm_push_subscription"("tenantId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "crm_push_subscription_userId_endpoint_key" ON "crm_push_subscription"("userId", "endpoint");

-- CreateIndex
CREATE INDEX "tkt_platform_tenant_id_idx" ON "tkt_platform"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_platform_tenant_id_slug_key" ON "tkt_platform"("tenant_id", "slug");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_platform_tenant_id_name_key" ON "tkt_platform"("tenant_id", "name");

-- CreateIndex
CREATE INDEX "tkt_branch_tenant_id_idx" ON "tkt_branch"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_branch_tenant_id_branch_number_key" ON "tkt_branch"("tenant_id", "branch_number");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_branch_tenant_id_code_key" ON "tkt_branch"("tenant_id", "code");

-- CreateIndex
CREATE INDEX "tkt_user_profile_tenant_id_idx" ON "tkt_user_profile"("tenant_id");

-- CreateIndex
CREATE INDEX "tkt_user_profile_tenant_id_role_idx" ON "tkt_user_profile"("tenant_id", "role");

-- CreateIndex
CREATE INDEX "tkt_ticket_tenant_id_platform_id_status_idx" ON "tkt_ticket"("tenant_id", "platform_id", "status");

-- CreateIndex
CREATE INDEX "tkt_ticket_tenant_id_branch_id_idx" ON "tkt_ticket"("tenant_id", "branch_id");

-- CreateIndex
CREATE INDEX "tkt_ticket_tenant_id_user_id_idx" ON "tkt_ticket"("tenant_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_ticket_tenant_id_ticket_number_key" ON "tkt_ticket"("tenant_id", "ticket_number");

-- CreateIndex
CREATE INDEX "tkt_ticket_attachment_ticket_id_idx" ON "tkt_ticket_attachment"("ticket_id");

-- CreateIndex
CREATE INDEX "tkt_ticket_event_ticket_id_idx" ON "tkt_ticket_event"("ticket_id");

-- CreateIndex
CREATE INDEX "tkt_counter_tenant_id_idx" ON "tkt_counter"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "tkt_counter_tenant_id_platform_id_branch_id_counter_type_ye_key" ON "tkt_counter"("tenant_id", "platform_id", "branch_id", "counter_type", "year", "month", "day");

-- AddForeignKey
ALTER TABLE "crm_auth_session" ADD CONSTRAINT "crm_auth_session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_auth_account" ADD CONSTRAINT "crm_auth_account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_branch" ADD CONSTRAINT "crm_branch_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "crm_tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_user_branch" ADD CONSTRAINT "crm_user_branch_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_user_branch" ADD CONSTRAINT "crm_user_branch_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_pipeline" ADD CONSTRAINT "crm_pipeline_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_stage" ADD CONSTRAINT "crm_stage_pipelineId_fkey" FOREIGN KEY ("pipelineId") REFERENCES "crm_pipeline"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contact" ADD CONSTRAINT "crm_contact_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contact" ADD CONSTRAINT "crm_contact_leadSourceId_fkey" FOREIGN KEY ("leadSourceId") REFERENCES "crm_lead_source"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contact" ADD CONSTRAINT "crm_contact_assignedUserId_fkey" FOREIGN KEY ("assignedUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_opportunity" ADD CONSTRAINT "crm_opportunity_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_opportunity" ADD CONSTRAINT "crm_opportunity_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_opportunity" ADD CONSTRAINT "crm_opportunity_pipelineId_fkey" FOREIGN KEY ("pipelineId") REFERENCES "crm_pipeline"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_opportunity" ADD CONSTRAINT "crm_opportunity_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES "crm_stage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_opportunity" ADD CONSTRAINT "crm_opportunity_assignedUserId_fkey" FOREIGN KEY ("assignedUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_stage_history" ADD CONSTRAINT "crm_stage_history_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES "crm_opportunity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_stage_history" ADD CONSTRAINT "crm_stage_history_fromStageId_fkey" FOREIGN KEY ("fromStageId") REFERENCES "crm_stage"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_stage_history" ADD CONSTRAINT "crm_stage_history_toStageId_fkey" FOREIGN KEY ("toStageId") REFERENCES "crm_stage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_stage_history" ADD CONSTRAINT "crm_stage_history_changedByUserId_fkey" FOREIGN KEY ("changedByUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_tag" ADD CONSTRAINT "crm_tag_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contact_tag" ADD CONSTRAINT "crm_contact_tag_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contact_tag" ADD CONSTRAINT "crm_contact_tag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "crm_tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_note" ADD CONSTRAINT "crm_note_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_note" ADD CONSTRAINT "crm_note_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_task" ADD CONSTRAINT "crm_task_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_task" ADD CONSTRAINT "crm_task_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_task" ADD CONSTRAINT "crm_task_assignedUserId_fkey" FOREIGN KEY ("assignedUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_message" ADD CONSTRAINT "crm_message_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_message" ADD CONSTRAINT "crm_message_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_message" ADD CONSTRAINT "crm_message_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_call" ADD CONSTRAINT "crm_call_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_call" ADD CONSTRAINT "crm_call_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_message_template" ADD CONSTRAINT "crm_message_template_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_custom_value" ADD CONSTRAINT "crm_custom_value_scopeId_fkey" FOREIGN KEY ("scopeId") REFERENCES "crm_branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_automation" ADD CONSTRAINT "crm_automation_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_automation_run" ADD CONSTRAINT "crm_automation_run_automationId_fkey" FOREIGN KEY ("automationId") REFERENCES "crm_automation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_automation_run" ADD CONSTRAINT "crm_automation_run_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_automation_run" ADD CONSTRAINT "crm_automation_run_triggeredByUserId_fkey" FOREIGN KEY ("triggeredByUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_integration" ADD CONSTRAINT "crm_integration_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_integration_oauth_token" ADD CONSTRAINT "crm_integration_oauth_token_integrationId_fkey" FOREIGN KEY ("integrationId") REFERENCES "crm_integration"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_website_form" ADD CONSTRAINT "crm_website_form_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_appointment" ADD CONSTRAINT "crm_appointment_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_appointment" ADD CONSTRAINT "crm_appointment_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "crm_contact"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_appointment" ADD CONSTRAINT "crm_appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_notification" ADD CONSTRAINT "crm_notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "crm_auth_user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_email_settings" ADD CONSTRAINT "crm_email_settings_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_whatsapp_settings" ADD CONSTRAINT "crm_whatsapp_settings_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "crm_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_api_key" ADD CONSTRAINT "crm_api_key_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "crm_auth_user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_user_platform" ADD CONSTRAINT "tkt_user_platform_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "tkt_user_profile"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_user_platform" ADD CONSTRAINT "tkt_user_platform_platform_id_fkey" FOREIGN KEY ("platform_id") REFERENCES "tkt_platform"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_user_branch" ADD CONSTRAINT "tkt_user_branch_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "tkt_user_profile"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_user_branch" ADD CONSTRAINT "tkt_user_branch_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "tkt_branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_ticket" ADD CONSTRAINT "tkt_ticket_platform_id_fkey" FOREIGN KEY ("platform_id") REFERENCES "tkt_platform"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_ticket" ADD CONSTRAINT "tkt_ticket_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "tkt_branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_ticket" ADD CONSTRAINT "tkt_ticket_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "tkt_user_profile"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_ticket_attachment" ADD CONSTRAINT "tkt_ticket_attachment_ticket_id_fkey" FOREIGN KEY ("ticket_id") REFERENCES "tkt_ticket"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_ticket_event" ADD CONSTRAINT "tkt_ticket_event_ticket_id_fkey" FOREIGN KEY ("ticket_id") REFERENCES "tkt_ticket"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_counter" ADD CONSTRAINT "tkt_counter_platform_id_fkey" FOREIGN KEY ("platform_id") REFERENCES "tkt_platform"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tkt_counter" ADD CONSTRAINT "tkt_counter_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "tkt_branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

